{% extends 'base.html' %} #inheriting from the base template
{% load static %}

{% block title %}

    {{entry.title}}

{% endblock title %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static '/entry/list.css' %}"> #linking the css file to the file
{% endblock cssfiles %}


{% block content %}
# the nav bar using bootstap
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Hush Diary</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                </ul>
            </div>
    </div>
</nav> 


#using the django template language , getting the current entry id and displaying the results
    <article>
        <h2>{{ entry.date_created|date:'Y-m-d H:i' }}</h2>
        <h3>{{ entry.title }}</h3>
        <p>{{ entry.content }}</p>
    </article>

    {% endblock content %}